$second-aksent: #00afef;
$first-aksent: #7cb936;
$yellow-color:#E8E200;
$red-color: #DC143C;	
$fon-gray:#FAFAFA;

@mixin trans {
	-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
}

/*все переменные и моды */
// $link: #15157d;
// $link_bottom: $link;

  // width: $block_width - ( 5px * 2 ) - ( 1px * 2 );

// как сделать миксинг
// @mixin large-text {
//   font: {
//     family: Arial;
//     size: 20px;
//     weight: bold;
//   }
//   color: #ff0000;
// }

// как использовать миксинг
// .page-title {
//   @include large-text;
//   padding: 4px;
//   margin-top: 10px;
// }

